.row {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
  @include clearfix;
  [class^='col-'] {
    @include respond(tab-land) {
      margin: auto;
      margin-bottom: 2rem;
      width: 50%;
    
    }
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      @include respond(tab-port) {
        margin-right: 0;
      }
    }
    float: left;
    @include respond(tab-port) {
      width: 100% !important;
      margin-bottom: $gutter-vertical-small;
    }
  }
  @include respond(tab-port) {
      max-width: $grid-width-small;
      padding: 0 3rem;
  }
  .col-1-of-2 {
    width: calc((#{$grid-width} - #{$gutter-horizontal}) / 2);
    @include respond(tab-land) {
      
     text-align: center;
      width: 40%;
      &:not(:last-child) {
        margin-left: 1rem;
      }
      
    
    }
  }
  .col-1-of-3 {
    width: calc((#{$grid-width} - (2 *#{$gutter-horizontal})) / 3);
  }

  .col-2-of-3 {
    width: calc(
      (((#{$grid-width} - (2 *#{$gutter-horizontal})) / 3) * 2) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((#{$grid-width} - (3 *#{$gutter-horizontal})) / 4);
  }

  .col-2-of-4 {
    width: calc(
      (((#{$grid-width} - (3 *#{$gutter-horizontal})) / 4) * 2) + #{$gutter-horizontal}
    );
  }
  .col-3-of-4 {
    width: calc(
      (((#{$grid-width} - (3 *#{$gutter-horizontal})) / 4) * 3) +
        (2 *#{$gutter-horizontal})
    );
  }
}
